# fly.toml app configuration file generated for apisearch-fragrant-pond-5081 on 2025-01-23T10:28:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'apisearch-fragrant-pond-5081'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
